
<div id="entries" class="entry">
  <% entries.each do |entry| %>
    <p class="hanging-indent <%=cycle "even", "odd"%>" ><%=entry.full_html(root_url) %> <br /><%= link_to t("entry.detail"), entry_path(entry) %></p>
  <% end %>
</div>
<div class="actions-bar wat-cf">
  <div class="actions">
  <%= will_paginate entries  %>
  </div>
</div>
