<div class="row results" data-next-page="<%= search_index_path :page => @next_page, :search => params[:search]%>">
  <div class="span16">
    <h2><%= t("search.page", :page => @page) %></h2>
  </div>
  <div id="results_left" class="span8">
    <div id="entries_left" class="entries">
      <%= render @entries_left %>
    </div>
  </div>
  <div id="results_right" class="span8">
    <div class="entries">
      <%= render @entries_right %>
    </div>
  </div>
</div>
