<div class="block">
  <div class="content">          
    <h2 class="title"><%= t("search.results", :default => "Suchergebnisse")  %> </h2>
    <div id="results" class="inner">
      <%= render :partial => "entries", :locals => {:entries => @entries} %>
      <%= javascript_tag do %>
        $("#results").live("ajax:beforeSend", function() {
            $(this).fadeOut();
        });
        
      <% end %>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar', :locals => {:search => @search}) -%>
