<div id="home" class="current">
  <div class="toolbar">
    <h1>Ergebnisse</h1>
     <a href="#" class="back"><%= t("back", :default => "Zurück")%></a>

  </div>
  <ul>
    <% @entries.each do |entry| %>
      <li>
      <%= link_to "#{entry.writing} - #{entry.romaji}", entry %>
      </li>
    <% end %>
  </ul>
  <a style="margin:0 10px;color:rgba(0,0,0,.9)" href=<%= current_url(:page => @entries.next_page) %> class="submit whiteButton"><%= t("search.more", :default => "Mehr Ergebnisse")%></a>
 
 
  
</div>
