/* Override here any style defined by web-app-theme */
 span.gen_m {
}
span.gen_n {
}
span.gen_f {
}

span.f:after {
  font-weight: bold;
  content: "(f)";
  color:red;
  font-size:xx-small;
}

span.m:after {
  font-weight: bold;
  content: "(m)";
  color:blue;
  font-size:xx-small;
}

span.n:after {
  font-weight: bold;
  content: "(n)";
  color:purple;
  font-size:xx-small;
}

span.dom {
  font-weight: bold;
}

span.usage, span.title, span.transcr, span.etym, span.scientif {
  font-style: italic;
}

span.def {
  color: green;
}


.entries {
  -webkit-column-count: 2;
  -webkit-column-rule: 1px solid #bbb;
  -webkit-column-gap: 2em;
  -moz-column-count: 2;
  -moz-column-rule: 1px solid #bbb;
  -moz-column-gap: 2em;
  column-count: 2;
  column-rule: 1px solid #bbb;
  column-gap: 2em;
  font-family: 'Crimson Text',arial, serif;
  font-size: 1.5em;
/*  text-align:justify; */
  padding-top:0.5em;
}

.hanging-indent {
text-indent: -25px;
padding-left: 25px;
}

.entry .writing {
  font-size: 1.5em;
}

.entry p {
  margin:0;
}

.entry {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -column-break-inside: avoid;
  padding-top: 5px;
  padding-left:10px;
  padding-right:10px;
}

.entry.even {
  background: #E5ECF9;
}

.entry.main_entry {
  background: #F8C3CD;
}

.prior_1, .prior_2, .prior_3, .prior_4, .jlpt1, .jlpt2, .jlpt3, .jlpt4 {
  display:none;
}

.svg_image {
  display: block;
}

.svg_image .image_caption {
  font-size: 120%;
  font-weight: bold;
  display: block;
}

.svg_image .svg a img{
  width: 150px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;  
}
