<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Wadoku Mobile</title>
    <%= stylesheet_link_tag "/jqtouch/jqtouch.min.css", "/jqtouch/themes/apple/theme.min.css" %>  
    <%= javascript_include_tag "/jqtouch/jquery.1.3.2.min.js", "/jqtouch/jqtouch.min.js", "mobile" %>  
  </head>
  <body>
    <%= yield %>
  </body>
    
</html>
